@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* For WebKit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 2px; /* Height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(
    128,
    128,
    128,
    0.3
  ); /* Color of the scrollbar handle */
  border-radius: 3px; /* Rounded corners of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    128,
    128,
    128,
    0.5
  ); /* Color of the scrollbar handle on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Set the scrollbar width to "thin" */
  scrollbar-color: rgba(128, 128, 128, 0.3) transparent; /* Set the color of the scrollbar handle and track */
}

/* For Internet Explorer and Edge */
body {
  scrollbar-face-color: rgba(
    128,
    128,
    128,
    0.3
  ); /* Color of the scrollbar handle */
  scrollbar-track-color: transparent; /* Color of the scrollbar track */
  scrollbar-arrow-color: rgba(
    128,
    128,
    128,
    0.3
  ); /* Color of the scrollbar arrows */
}
